body {
    background-color: turquoise;
}
header h1 {
    text-align: center;
    border: 3px solid black;
    height: 80px;
    border-radius: 10px;
    font-style: italic;
}
#left {
    border: 3px solid black;
    margin-bottom: 50px;
    display: inline-block;
    height:30px;
    width: 150px;
    word-spacing: 10px;
    border-radius: 10px;
    text-align: center;
    text-decoration-line: none;
    font-size: larger;

}
#left .decor:hover {
    color: red;
    font-size: 120%;
}
.decor {
    text-decoration: none;
}
.lorem {
    border: 3px solid black;
    margin-bottom: 25px;
    border-radius: 10px;

}
footer {
    border: 3px solid black;
    border-radius: 10px;

}
table {
    width: 100%;
    text-align:justify

}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.container {
    --gap: 25px;
    --num-cols: 5;
    --row-height:300px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols),1fr);
    gap: var(--gap);
    justify-items: start
}
img {
    width:100%;
    height: 100%;
    padding:auto;
    margin: auto;
    border-radius: 10px;
    text-align: center;
}
.container{
    --gap: 25px;
    --num-cols: 5;
    --row-height:300px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols),1fr);
    gap: var(--gap);
    justify-items: start;
}
.container .tex{
    text-align: center;
    text-decoration: none; 
}
.container .tex:hover{
    color: crimson;
    
}
summary{
    cursor: pointer;
    width: 200px;
    color:blue;
}
summary:hover{
    font-size: 125%;
    color:red;

}
footer{
    text-align: center;
    display: block;
    font-family: italic;
    border-style: none;
    padding-top: 10px;
}
@media screen  and (max-width:1300px){
    .container{
        --num-cols:4;
        
    }   
}

@media screen  and (max-width:1024px){
    .container{
        --num-cols:3;
    }   
}
@media screen  and (max-width:768px){
    .container{
        --num-cols:2;
    }   
}
@media screen  and (max-width:580px){
    .container{
        --num-cols:2;
    }   
}
